.navbar {
  background-color: #FF8C00;
  height: 90px;
  padding: 0px;
  margin: 0px;
}

.navbar h1 {
  color: #F5F5F5;
  font-weight: bold;
}

.Searchform {
  text-align: right;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);}

.Searchform-text,
.Searchform-submit {
  padding: 5px 10px;
  border: 1px solid rgba(23, 52, 82, 0.7);
  border-radius: 2px;
}

.Searchform-submit {
  background-color: green;
  color: #eaeaea;
  box-shadow: 1px 1px 1px rgba(23, 52, 82, 0.2);
  margin-left: 10px;
  margin-top: 5px;
}

.Searchform-submit:hover {
  background-color: rgba(23, 52, 82, 0.7);
}
