.navbar {
    background-color: #FF8C00;
    height: 90px;
    padding: 0px;
    margin: 0px;
}

.navbar h1 {
  color: #F5F5F5;
  font-weight: bold;
}

.row {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  height: 150px;
  margin: 100px;
  padding: 0;

}

.row Button {
  background-color: green;
  display: flex;
  margin: 10px auto;
}
